:root {
    --light-color-1: #F5EDED;
    --light-color-2: #E2DAD6;
    --dark-color-1: #7FA1C3;
    --dark-color-2: #7FA1C3;
}

body {
    background-color: var(--light-color-1);
    color: var(--dark-color-1)
}

h1 {
    color: var(--dark-color-2)
}